DSN=""
TOKEN="TOKEN"

# SERVER
SERVER_BASE_URL="http://localhost:8081"

# EMAIL
EMAIL_ADDRESS=your-email@gmail.com
EMAIL_PASSWORD=your-16-digit-app-password
EMAIL_SMTP_HOST=smtp.gmail.com
EMAIL_SMTP_PORT=587
EMAIL_FROM=no-reply@myservice.com
